.city {
    float: left;
    margin: 5px;
    padding: 15px;
    max-width: 300px;
    min-width: 300px;
  
  }
#first {
 
    background-color: #96ceb4;   
}

#second{
    background-color: #ffeead;
}


#third{
   
    background-color: #ff6f69;
}

#fourth {
   
    background-color: #5b9aa0;
}
#fifth{
  
    background-color: #ffeead;
}

#last{
  
    background-color: #f2ae72;
}
